body {
    margin: 0;
    box-sizing: border-box;
    background-color: #ebe4e4;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/search/background.png');
    background-size: cover;
    user-select: none;
    overflow: hidden;
}
