body {
    margin: 0;
    box-sizing: border-box;
    background-color: #ebe4e4;
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: hidden;
}
img{
    filter: brightness(25%);
    width: 100%;
}