body {
    margin: 0;
    box-sizing: border-box;
    background-color: #ebe4e4;
    width: 100vw;
    height:auto;
    background-image: url('../assets/search/background.png');
    overflow-x: hidden;
    background-size: contain;
    font-size: 1.5em;
    background-repeat: repeat-y;
}

.complete{
    font-size: 30px;
    padding: 5px;
    width: 80vw;
    cursor: pointer;
    border: 3px solid black;
    text-align: center;
    margin: 10px auto;
}

.flexbox{
    display: flex;
}

.effect{
    padding-right: 1.5px;
    padding-left: 3px;
    font-weight: bold;
}

img{
    padding-bottom:2%;
}

.imgbox{
    display: flex;
    flex-direction: column;
}